header{
    background:#07997C;
    color: #07997C;
}

.maim{
    background:#07997C;
}
.color1{
    background:#07997C;
}
aside{
    background:#EADA11;
}
footer{
    background:#338AFF;
    color: #00080A;
}
body{
    background:#2c3e50;
    color: #FFFFFF;
}